[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "fastapi>=0.123.5",
    "jinja2>=3.1.6",
    "openai>=2.8.1",
    "pdfplumber>=0.11.8",
    "python-multipart>=0.0.20",
    "uvicorn>=0.38.0",
]
